/*@import '../../node_modules/bootstrap/scss/bootstrap.scss';*/

$danger: rgb(184, 62, 62);
$light-gray: rgb(212, 212, 212);

header {
    background-color: black;

    
    nav {
        z-index: 3;
        ul {
            border: solid white 1px;
            border-left: none;
            border-right: none;

            li {
                width: 150px;
                text-align: center;
                a {
                    color: white;
                    height: 50px;
                    padding-top: 30px;

                    &:hover {
                        background-color: $danger;
                        text-decoration: none;
                        color: white;
                    } 
                }
            }
        }

        img {
            margin: 0 40px 0 40px;
        }
    }

    #carouselExampleIndicators {
        img {
            height: 1080px;
            filter: brightness(0.2);
        }
        
    }

    #banner-text {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 60px;
        text-align: center;
        z-index: 3;

        a {
            color: white;
            background-color: white;
            font-size: 20px;
            padding: 20px 20px 20px 20px;
            border-radius: 30px 30px 30px 30px;

            &:hover {
                text-decoration: none;
                color: white;
            }
        }
    }
}

#section-1 {
    padding: 50px 100px 50px 100px;
    background-image: url(../../images/main_bg.jpg);
    

    #main-1 {
        background-color: white;

        .separateur {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #separateur-3 {
            margin-top: 50px;
            padding-bottom: 57px;
        }

        #our-story-text {
            width: 500px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }

        /*DEBUT DES TABS*/
        #div-tab {
            #tab-buttons {
                border-right: solid $light-gray 1px;

                a {
                    background-color: white;
                    color: $light-gray;
                    border-bottom: solid $light-gray 1px;
    
                    .active{
                        i {
                            color: red;
                            border-right: solid $danger;
                        }
                    }
                }
            }

            .col-6 {
                padding-top: 15px;
                hr {
                    margin-top: 50px;
                    height: 1px;
                }

                img {
                    width: 80px;
                    float: left;
                    border-radius: 50% 50% 50% 50%;
                    margin-right: 15px;
                }

                span {
                    float: right;
                    margin-top: 28px;
                    margin-left: 10px;
                    width: 50px;
                }
            }    
        }
    }
}
